{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Domain"|t('mailgun'),
    instructions: "The domain to send email from."|t('mailgun'),
    id: 'domain',
    name: 'domain',
    value: adapter.domain,
    errors: adapter.getErrors('domain')
}) }}

{{ forms.textField({
    label: "API Key"|t('mailgun'),
    instructions: "You can find this in your Mailgun settings for the chosen domain."|t('mailgun'),
    id: 'apiKey',
    name: 'apiKey',
    value: adapter.apiKey,
    errors: adapter.getErrors('apiKey')
}) }}

{{ forms.textField({
    label: "API Base URL"|t('mailgun'),
    instructions: "Include your domain with the url (ex: https://api.eu.mailgun.net/v3/mydomain). You can find this in your Mailgun settings for the chosen domain. The API url depends of the choosen region in Mailgun"|t('mailgun'),
    id: 'apiBaseUrl',
    name: 'apiBaseUrl',
    value: adapter.apiBaseUrl,
    errors: adapter.getErrors('apiBaseUrl')
}) }}
